# Chalna
VIBEVOICE_MODEL_PATH=microsoft/VibeVoice-ASR
CHALNA_RESULTS_DIR=/home/jonhpark/workspace/chalna/results
CHALNA_AUTO_UNLOAD=false

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
SENTRY_RELEASE=chalna@0.1.0
SENTRY_TRACES_SAMPLE_RATE=0.05
